@model WeDriversMVC.Application.ViewModels.Articles.ListArticleForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" asp-controller="Article" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString"/>
        <input type="submit" value="Wyszukaj"/>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Created at
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Articles) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                     </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.Title)
                     </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
        <ul class="pagination">
            @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
            {
                <li class="page-item">
                    @if (i != Model.CurrentPage)
                    {
                        <a class="page-link" href="javascript:PagerClick(@i)">@i</a>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">@i</span>
                        </li>
                    }
                </li>
            }
        </ul>
    <input type="hidden" name="pageNo" id="pageNo" />
    <input type="hidden" name="pageSize" id="pageSize" value="2" />
</form>


@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}